<h3 id="table-heading">Employee Data Table</h3>


<table border="1">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Age</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <!-- what if we pass object here -->
        <tr *ngFor="let user of users" [ngClass]="{'highlight':user.age >25}">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.role}}</td>
        </tr>
    </tbody>

</table>
<form>
    <label for="id">Employee ID:</label>
   <input type="text" id="id" name="id" [(ngModel)]="newUser.id">


    <label for="name">Employee Name:</label>
    <input type="text" id ="name" name="name" [(ngModel)]="newUser.name">
    <!-- id for html and css, name for targeting in angular -->

    <label for="age">Age:</label>
    <input type="number" id="age"name="age" [(ngModel)]="newUser.age">

    <label for="role">Role:</label>
    <input type="text" id ="role" name="role" [(ngModel)]="newUser.role">
</form>
<button (click)="addEmployee()">Add Employee</button>
<br>
<button id="delete-button" (click)="deleteEmployee()">Delete Employee </button>
<button disabled>Modify-Button</button>
